
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.editorconfig
.idea/commandlinetools/Symfony_16_07_2025__14_49.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
